
@{
    ViewData["Title"] = "AddInstructor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="text-center">

    <component type="typeof(SimpleShopWebApp.Blazor.AddInstructor)" render-mode="Server" />
</div>
