<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <h1>Panel Administracyjny</h1>
            <table class="table table-hover">
                <thead>
                    
                </thead>
                <tbody>
                    <tr>
                        
                       
                        <th>Dodaj Wydarzenie</th>
                        <td><a class="btn btn-info"  asp-area="" asp-controller="Admin" asp-action="AddProduct"     >Dodaj</a></td>
                    </tr>
                    <tr>
                        <th>Usuń Wydarzenie</th>
                        <td><a class="btn btn-danger" asp-area="" asp-controller="Admin" asp-action="RemoveProduct">Usuń</a></td>

                    </tr>
                    <tr>
                        <th>Zablokuj Uzytkownika</th>
                        <td><a class="btn btn-success">Zablokuj</a></td>

                    </tr>
                </tbody>
            </table>


        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
    </div>
   

    



</div>